@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #DFEA93;
}

.list {
  padding: 10px;
  border: 2px solid #000;
  margin-top: 50px;
  width: 700px;
  margin-left: 50%;
  transform: translate(-50%);
  border-radius: 5px;
  box-shadow: 2px 3px 3px #333;
}

h1 {
  display: flex;
  justify-content: center;
}

.note-purchase {  
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.note {
  height: 20px;
  border-radius: 5px;
  border-style: none;
}

.write {
  height: 20px;
  margin-right: 10px;
  width: 350px;
  border-radius: 5px;
  border-style: none;
}

.buy-item {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.text {
  margin-left: 5px;
  border-radius: 5px;
  border-style: none;
}

.buylist-actions {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.confirm-edit,
.edit,
.delete {
  height: 30px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}